<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">

    <ion-tab-button tab="homepage">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="med-list">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="moodDiary">
      <ion-icon name="happy-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="mood-stats">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
