ion-label{
    font-size: 14px!important;
    margin: 0 0 35px 0!important;
    opacity: 80%;
}
ion-item{
    margin-left: 15px!important;
    font-size: larger;
}
ion-text{
    margin-left: 5px;
    margin-top: 3px;
    padding-left: 7px;
    border-left: 2px solid #d7d8da;
}
ion-list{
    margin: 20px;
    padding: 10px 10px 40px 10px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 13px -5px rgba(0, 0, 0, 0.25); 
    box-shadow: 5px 5px 13px -5px rgba(0,0,0,0.25);
}