<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon (click)="close()" name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title>{{med.name}}</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating" color="primary">Name</ion-label>
      <ion-text>{{med.name}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Beschreibung</ion-label>
      <ion-text>{{med.description}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Häufigkeit</ion-label>
      <ion-text>{{this.times}}x {{this.days}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Menge</ion-label>
      <ion-text>{{this.totalAmount}} {{med.unit}} pro Einnahmetag</ion-text>
    </ion-item>

  </ion-list>
</ion-content>